<div class="loading" *ngIf="!tickets">
  Cargando...
</div>

<div class="col-md-12" *ngIf="tickets">
  <h2>{{title}}</h2>
<br />

<table class="table table-hover table-stripped">
  <thead>
    <tr>
      <th class="col-md-5">Ticket</th>
      <th>Disponible</th>
      <th>Usuario asignado</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let tick of tickets">

      <th scope="row">
      <a [routerLink]="['/ticket', tick.id]" >  {{tick.title}} </a>
      </th>

      <td>
        <span *ngIf="tick.status == 'true'">Si</span>
        <span *ngIf="tick.status != 'true'">No</span>
      </td>
      <td>  {{tick.user.name}} </td>
      <td>
        <a [routerLink]="['/editar-tickets', tick.id]" class="btn btn-warning">Editar</a>&nbsp;
        <a (click)="deleteTicket(tick.id)" class="btn btn-danger">Borrar</a>
      </td>
    </tr>
  </tbody>
</table>
</div>
