<header id="header">

  <div class="navbar navbar-default" style="background: #004ba7">

    <div class="navbar-header">
      <a class="navbar-brand">
        Double V Partners
      </a>
    </div>

    <div class="collapse navbar-collapse" id="menu">

      <ul class="nav navbar-nav">
        <li style="color: #ffffff !important">
          <a [routerLink]="['/']">Lista de tickets</a>
        </li>
        <li *ngIf="identity.name">
          <a [routerLink]="['crear-ticket']">Crear ticket</a>
        </li>
      </ul>

      <ul class="nav navbar-nav pull-right" *ngIf="!identity.name">
        <li>
          <a [routerLink]="['login']">Iniciar sesión</a>
        </li>
        <li *ngIf="identity">
          <a [routerLink]="['registro']">Registro</a>
        </li>
      </ul>

      <ul class="nav navbar-nav pull-right" *ngIf="identity.name">
        <li>
          <a href="#" data-toggle="dropdown">{{ identity.name + ' ' + identity.surname }}</a>
            <div class="dropdown-menu">
             <li> <a class="dropdown-item" [routerLink]="['/usuario-tickets']">Buscar usuario</a></li>
            </div>

        </li>
        <li>
          <a [routerLink]="['logout', 1]">
            <span class="glyphicon glyphicon-log-out"></span>
            Cerrar sesion
          </a>
        </li>
      </ul>

    </div>

   </div>

</header>

<router-outlet></router-outlet>
